<!DOCTYPE html>
<html>
<head>
<title>Ads</title>
<link rel="stylesheet" href="/static/style.css">
</head>

<body>

<div class="ads-box">

<h2>🎬 Ads Loading...</h2>

<div class="circle">
    <span id="time">8</span>
</div>

<p>Watch full ads to earn coin</p>

</div>

<script>

let time = 8;

let timer = setInterval(()=>{
    time--;
    document.getElementById("time").innerText = time;

    if(time <= 0){
        clearInterval(timer);
        window.location.href="/complete-ad";
    }
},1000);

// ❌ अगर user जल्दी back करे
window.onbeforeunload = function(){
    return "Ad not completed!";
};

</script>

</body>
</html>
