<!DOCTYPE html>
<html>
<head>
<title>ManjXrudo</title>
<link rel="stylesheet" href="/static/style.css">
</head>

<body>

<div class="container">

    <h1 class="logo">⚡ ManjXrudo ⚡</h1>

    <!-- REGISTER -->
    <div class="card">
        <h2>Create Account</h2>

        <form action="/register" method="post">
            <input type="text" name="username" placeholder="Username" required>
            <input type="email" name="email" placeholder="Email" required>
            <input type="password" name="password" placeholder="Password" required>

            <button>Create Account</button>
        </form>

        <p id="suggestion"></p>
    </div>

    <!-- LOGIN -->
    <div class="card">
        <h2>Login</h2>

        <form action="/login" method="post">
            <input type="email" name="email" placeholder="Email" required>
            <input type="password" name="password" placeholder="Password" required>

            <button>Login</button>
        </form>
    </div>

</div>

</body>
</html>
