<!DOCTYPE html>
<html>
<head>
<title>Dashboard</title>
<link rel="stylesheet" href="/static/style.css">
</head>

<body>

<div class="sidebar">
    <h2>⚡ Panel</h2>
    <a href="#">Dashboard</a>
    <a href="/start-ad">Earn Coin</a>
    <a href="/logout">Logout</a>
</div>

<div class="main">

<h2>Welcome {{username}}</h2>

<div class="card">
    <h3>💰 Coins</h3>
    <h1 id="coin">{{coins}}</h1>
</div>

<div class="card">
    <button class="btn" onclick="startAd()">🎬 Watch Ads → Earn</button>
</div>

</div>

<script>
function startAd(){
    window.location.href="/start-ad";
}
</script>

</body>
</html>
