<!DOCTYPE html>
<html>
<head>
<title>Dashboard</title>
<link rel="stylesheet" href="/static/style.css">
</head>

<body>

<div class="sidebar">
    <h2>⚡ Panel</h2>
    <a href="#">Dashboard</a>
    <a href="/start-ad">Earn Coins</a>
    <a href="/logout">Logout</a>
</div>

<div class="main">

<h2>Welcome {{username}}</h2>

<div class="box">
    💰 Coins: {{coins}}
</div>

<div class="box">
    <a href="/start-ad">
        <button class="glow-btn">🎥 Watch Ads</button>
    </a>
</div>

</div>

</body>
</html>
