<!DOCTYPE html>
<html>
<head>
<title>Register</title>

<style>
body{
    background:black;
    color:#00ffcc;
    text-align:center;
    font-family:monospace;
}

input,button{
    margin:10px;
    padding:10px;
    width:80%;
    background:black;
    border:2px solid #00ffcc;
    color:#00ffcc;
}

button:hover{
    background:#00ffcc;
    color:black;
}
</style>
</head>

<body>

<h2>⚡ Create Account</h2>

<form action="/register" method="post">
<input name="username" placeholder="Username" required>
<input name="email" placeholder="Email" required>
<input name="password" type="password" placeholder="Password" required>
<button>Create Account</button>
</form>

<h3>Enter OTP</h3>

<form action="/verify-otp" method="post">
<input name="email" placeholder="Same Email">
<input name="otp" placeholder="OTP">
<button>Verify</button>
</form>

<h3>Login</h3>

<form action="/login" method="post">
<input name="email" placeholder="Email">
<input name="password" type="password" placeholder="Password">
<button>Login</button>
</form>

</body>
</html>
